<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
  rel="stylesheet">
 <link rel="stylesheet" href="./enrolment.css">
 <title>Enrolment form</title>
</head>
<body>
  <div>
   <h1>enrolment form</h1>
   <form action="#">
    <label for="name">Fullname</label>
    <input type="text">
    <label for="matric no">Matric No</label>
    <input type="number" required>
    <label for="department">Department</label>
    <input type="text">
    <label for="Fingerprint">Fingerprint</label>
    <input type="text">
    <button>Submit here</button>
   </form>
  </div>
</body>
</html>