<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="./enrol.css">
 <title>Document</title>
</head>
<body>
 <div >
  <h1>Enroll Attendee </h1>
  <form action="enrol">
   <div class="formGroup">
    <label for="firstname">First Name</label>
    <input type="text" required>
   </div>
   
   <div class="formGroup">
       <label for="lastname">Last Name</label>
       <input type="text" required>
   </div>

   <div class="formGroup">
    <label for="matricno">Matric No</label>
    <input type="text" required>
   </div>
   
   <div class="formGroup">
    <label for="Department">Department</label>
    <input type="text" required>
  </div>
   
   <label for="fingerprint">Fingerprint</label>
   <textarea name="" id=""></textarea>
   
   <button>Submit</button>
  </form>
 </div>
</body>
</html>