<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="preconnect" href="https://fonts.googleapis.com">
 <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
 <link
  href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&display=swap"
  rel="stylesheet">
 <title>Document</title>
 <link rel="stylesheet" href="./home.css">
</head>
<body>
 <div class="student">
  <h2>Are you a student</h2>
  <a href="./enrolment.html">Enrol Now</a>
 </div>
 <div class="staff">
  <h2>Staffs Only</h2>
  <a href="./signup.html">Register Now</a>
  <h2>Already have an account</h2>
  <a href="./login.html">Login now
</a>
 </div>
</body>
</html>