{% extends "base.html" %} {% block title %}Signup{% endblock %} {% block head%}
{{ super() }} <link rel='stylesheet' href={{ url_for('static',
filename='css/navbar.css') }}> <link rel='stylesheet' href={{ url_for('static',
filename='css/auth.css') }}>

<script defer src="{{url_for('static', filename='js/navbar.js')}}"></script>
<script defer src="{{url_for('static', filename='js/form.js')}}"></script>
{% endblock %} {% block content %} {% include "navbar.html" %}
<div class="container flex">
  <h1>START REGISTRATION</h1>
  <form id="form" action="#" method="post" class="flex">
    <div class="formGroup flex">
      <label for="name">Fullname</label>
      <input
        required
        minlength="5"
        name="name"
        type="text"
        placeholder="Enter your fullname"
      />
      <p class="errorContainer"></p>
    </div>

    <div class="formGroup flex">
      <label required for="username">Username</label>
      <input
        required
        minlength="5"
        type="text"
        name="username"
        id="username"
        placeholder="Enter your username"
      />
      <p class="errorContainer"></p>
    </div>
    <div class="formGroup flex">
      <label for="email">Email address</label>
      <input
        required
        data-email
        type="email"
        name="email"
        id="email"
        placeholder="Enter your email"
      />
      <p class="errorContainer"></p>
    </div>
    <div class="formGroup flex">
      <label for="password">Password</label>
      <input
        required
        minlength="8"
        type="password"
        name="password"
        id="password"
        placeholder="Enter your password"
      />
      <p class="errorContainer"></p>
    </div>
    <button type="submit">Submit</button>
  </form>
  <p>
    Already have an account?
    <a href="{{url_for('auth.login')}}">Log In</a>
  </p>
</div>
{%endblock%}
