
*{
 padding: 0;
 margin: 0;
}
body{
 background-image: linear-gradient(135deg, rgba(36, 16,90, 0.4), rgba(0, 0, 0, 0.4)), url("./assets/fingerprontimg3.jpg");

 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
}
.navbar ul{
 font-size: 25px;
 background-color: rgba(18, 18, 19, 0.678);
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
.navbar a {
  font-size: 15px;
 color: #00ff84;
 text-decoration: none;
 padding: 15px;
 display: block;
}
.navbar a:hover{
  background-color: rgb(0, 0, 0);
}
.navbar li{
 float: right;
}
.home{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 350px;
}
h1{
 font-family: 'Orbitron', sans-serif;
font-size: 40px;
text-align: center;
text-transform: uppercase;
margin: 150px 0 30px 0;
color: silver;
}
label{
 font-size: 20px;
 margin: 30px 0;
 color: yellow;
}

input{
 font-size: 16px;
 margin: 5px 0;
 padding: 15px 10px;
 width: 100%;
 border: 0;
 border-radius: 5px;
 outline: none;
}
button{
 font-size: 16px;
 padding: 10px 35px; 
 margin: 20px 0;
 font-weight: bold;
 border: 0;
 border-radius: 5px;
 background-color: #0ad614;
}

label, input, button, a {
 font-family: 'Montserrat', sans-serif;
}
button:hover {
  background-color: #7aee7f;
}
@media screen and (max-width: 1000px) {
  .left,
  .main,
  .right {
    width: 100%;
    /* The width is 100%, when the viewport is 1000px or smaller */
  }
}